@import "_nullstyle.scss";

body {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

[class*="container"] {
    max-width: 1210px;
    margin: 0px auto;
    padding: 0px 15px;
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(0,0,0,0.7);
        // .search__container

        &__container {
            display: flex;
            gap: 10px;
            align-items: center;
        }

		// .search__title

		&__title {
		}

		// .search__input

		&__input {
            padding: 3px;
            border: 2px solid #595757;
		}

}

.section {
    padding: 10px 10px 10px 10px;
		// .section__title

		&__title {
            font-size: 27px;
            margin: 0px 0px 10px 0px;
		}

		// .section__text

		&__text {
            line-height: 17px;
		}

        // .section__container

		&__container {
            background-color: rgba(0,0,0,0.5);
            border-radius: 15px;
            padding: 15px 15px;
		}

    &:first-child {
        margin: 55px 0px 0px 0px;
    }
}

::highlight(first-highlight) {
    background-color: yellow;
    color: rgba(0,0,0,0.7);;
}
